* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5fff5;
    color: #1f3d1f;
    
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background: #2e7d32;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: flex-end;

}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    }

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: #166534;
    font-size: 1.2rem;
    height: 40px;

}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
}

.hero button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-img img {
    width: 350px;
}

/* Upload */
.upload {
    text-align: center;
    padding: 50px;
    background: #e8f5e9;
}

.upload-box {
    margin: 20px;
}

.upload button {
    margin-left: 10px;
}

#preview {
    margin-top: 20px;
    width: 200px;
    display: none;
    border-radius: 8px;
}

/* Features */
.features {
    padding: 60px 40px;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* How */
.how {
    background: #c8e6c9;
    padding: 50px;
    text-align: center;
}

.how ol {
    margin-top: 20px;
    list-style-position: inside;
    font-size: 1.1rem;
}

/* Footer */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 15px;
}
